/* minial reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* end of minial reset */

body {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  margin: 6px;
  background-color: aliceblue;
}

a.contact {
  display: inline-block;
  color: limegreen;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 6px;
}

h1 {
  margin-bottom: 10px;
  font-weight: bold;
}

header {
  color: orange;
}

.copyright {
  color: red;
  font-weight: bold;
}

.copyright-inline {
  display: none;
}

.copyright-footer {
  display: inline-block;
  margin: 6px 0;
}


/* Responsive image gallery rules begin*/

.image-gallery {
  /* Mobile first */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image-gallery .column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.image-item img {
  object-fit: cover;
  border: 8px solid aqua;
  border-radius: 5px;
  background-color: white;
  width: 100%;
}

.image-item dl {
  margin: 2px 0;
  text-align: left;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.image-item dt {
  display: none;
}

.image-item dd {
  margin-left: 0px;
}
.image-item .title {
  font-weight: bold;
}

.image-item .medium {
  font-style: italic;
}

@media only screen and (min-width: 768px) {
  .column-b {
    order: 0;
  }

  .column-a {
    order: 1;
  }

  .column-c {
    order: 2;
  }

  .copyright-inline {
    display: inline-block;
    margin: auto 6px 6px 6px;
  }

  .copyright-footer {
    display: none;
  }

  .image-gallery {
    flex-direction: row;
  }

  body {
    margin: 20px;
  }
}
