/* minial reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* end of minial reset */

@font-face {
  font-family: "PhillySans";
  src: url("PhillySans.otf") format("opentype");
  font-display: swap;
}

.name {
  font-family: "PhillySans";
  font-size: 4.5rem;
  text-align: center;
}

body {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto",
    "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  margin: 6px;
}

main {
  display: flex;
  flex-direction: column;
}

.about {
  margin: 12px 0;
  order: 1;
}

a.contact {
  display: flex;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 6px;
}

h1 {
  margin-bottom: 10px;
  font-weight: bold;
}

.copyright {
  font-weight: bold;
  display: inline-block;
  margin: 6px 0;
}

/* Responsive image gallery rules begin*/

.image-gallery {
  /* Mobile first */
  display: flex;
  flex-direction: column;
  gap: 10px;
  order: 0;
}

.image-gallery .column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image-item img {
  object-fit: cover;
  border-radius: 5px;
  background-color: white;
  width: 100%;
}

.image-item dl {
  margin: 2px 0;
  text-align: left;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.image-item dt {
  display: none;
}

.image-item dd {
  margin-left: 0px;
}
.image-item .title {
  font-weight: bold;
}

.image-item .medium {
  font-style: italic;
  display: none;
}

@media only screen and (min-width: 768px) {
  .column-b {
    order: 0;
  }

  .column-a {
    order: 1;
  }

  .column-c {
    order: 2;
  }

  .image-gallery {
    flex-direction: row;
  }

  body {
    margin: 20px;
  }
}
